* {
  box-sizing: border-box;
}

body {
    margin: 0;
    background: #dfe3e8;
    font-family: Arial, sans-serif;
}


.site-header {
    width: 100%;
    background: #ffffff;
    padding: 20px 0;
    box-sizing: border-box;
}

.container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo {
    font-size: 22px;
    font-weight: bold;
    color: #000;
    display: flex;
    align-items: center;
    gap: 10px;

}


.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: 0.3s ease;
}


.btn.signup-btn {
    background: #0b5345;
    color: white;
    padding: 10px 28px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}


.hero {
    text-align: center;
    max-width: 750px;
    margin: 80px auto 50px;
    padding: 0 20px;
}

.hero h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.3;
    color: #0d1b2a;        
    margin-bottom: 16px;
}

.hero p {
    font-size: 14px;
    color: #576574;
    margin-bottom: 28px;
}


.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn {
    padding: 12px 26px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
}


.btn.primary {
    background: #011614;   
    color: #fff;
}


.btn.secondary {
    background: #f0f1f1;
    color: #030303;
}

.rating-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-top: 20px;
}

.stars {
    font-size: 18px;
    letter-spacing: 0px;
    color: #f6b800;    
    font-weight: 600;
}

.rating-info {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #040404;
    font-size: 18px;
}

.rating-number {
    font-weight: 700;
    color: #050505;   
}

.rating-text {
    color: #0a0b0b;
}

.star-info {
    width: 36px;
    height: 36px;
    background: #053C3F;  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .25s ease;
    position: absolute;
    left: 300px;
    top: 380px;
    gap: 160px;
}


.starts {
    color: #ffffff;
    font-size: 18px;
}

.file-info {
    width: 36px;
    height: 36px;
    background: #cdf3f0;     
    border-radius: 50%;      
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(8, 8, 8, 0.15);
    cursor: pointer;
    position: absolute;       
    left: 300px;
}

.file {
    font-size: 20px;          
    color: #030303;
}



.icon-info {
    width: 36px;
    height: 36px;
    background: #ffffff;
    border: 2px solid #09090a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .25s ease;
    position: absolute;
    left: 240px;
    top: 420px;
    gap: 220px;
}

.arrow {
    font-size: 20px;
    font-weight: bold;
    color: #173F3F; 
}

.circle {
  width: 28px;
  height: 28px;
  background-color: #035b5f; 
  border-radius: 50%; 
  display: flex;        
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  gap: 380px;
  top: 400px;
  left:1000px;
}

.bar-chart {
  display: flex;
  align-items: flex-end; 
  justify-content: space-between;
  width: 20px;
  height: 22px;
  
}

.bar {
  width: 2px;
  background-color: #fff;
  border-radius: 3px 3px 0 0;
}

.bar1 { height: 10px; }
.bar2 { height: 18px; }
.bar3 { height: 25px; }

.round-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;       
  background-color: #f1f4f4;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  gap: 6px; 
  left: 960px;
                  
}

.round-button span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: rgb(12, 12, 12);
  border-radius: 2px;
}


.info-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding: 60px;
}

.block.image-block {
  width: 160px;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
}

.block.image-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.box.small {
  width: 180px;
  font-size: 0.85rem;
  height: 130px;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box.medium {
  width: 120px;
  font-size: 0.85rem;
  height: 180px;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box.large {
  width: 160px;
  font-size: 0.85rem;
  height: 220px;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teal-bg {
  background-color: #092121;
  color: white;
  font-weight: 600;
  text-align: center;
}

.card-label {
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

.card-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.three-dots {
  cursor: pointer;
  font-size: 20px;
  color: #555;     
}


.white-bg {
  background-color: white;
  color: #134445;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.white-bg .highlight-green {
  color: #64b55e;
  font-weight: 700;
}

.pastel-green-bg {
  background-color: #d7facd;
  color: #134445;
  font-weight: 600;
  text-align: center;
}

.dark-teal-bg {
  background-color: #0d2b28;
  color: white;
  font-weight: 600;
  align-items: left 0;
  line-height: 1.4;
}

.card-label {
  font-size: 0.75rem;
  margin-bottom: 6px;
  color: #777;
}

.card-label span {
  font-weight: 700;
  margin-left: 6px;
}

.card-text h3,
.box h3 {
  margin: 0 0 6px 0;
}

.card-text p,
.box p {
  margin: 0;
}

.services-section {
  background-color: #073b3a;
  color: #ffffff;
  text-align: center;
  padding: 40px 40px;
  border-radius: 0;
}

.services-section h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0px;
  padding: 0;
}

.services-section h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.services-section .section-subtitle {
  font-size: 12px;
  opacity: 0.8;
  margin-bottom: 40px; 
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);       
  grid-template-rows: repeat(2, auto);         
  gap: 24px 32px;                              
  max-width: 960px;
  height: 450px;                            
  margin: 0 auto;
  padding: 0 12px;
}

.service-card {
  background-color: #18504a;
  border-radius: 10px;
  padding: 26px 30px 34px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  min-height: 180px;
  position: relative;
}

.service-card .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 18px;
}

.service-card h3 {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0 0 14px;
  color: #d0e9e4;
  user-select: none;
  flex-shrink: 0;
}

.service-card p {
  font-size: 0.9rem;
  color: #bed8d5;
  line-height: 1.4;
  margin: 0 0 36px;
  flex-grow: 1;
  user-select: none;
}

.service-card .arrow {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 18px;
  color: #7dd4bb;
  user-select: none;
  transition: transform 0.3s ease;
}

.white-section {
  background: #fff;
  padding: 70px 90px;
  display: flex;
  justify-content: center;
}

.white-container {
  width: 90%;
  max-width: 1250px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: flex-start;
}

.left-box {
  position: relative;
  flex: 1 1 450px;   
  min-width: 350px; 
}

.chart-card {
  background: #f9fbfb;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.chart-card h3 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #111;
}
.chart-card {
  position: relative; 
}


.stats-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.green {
   color: #1aa66b; 
}


.status-list p {
  margin: 6px 0;
  font-size: 14px;
  color: #444;
  display: flex;
  justify-content: space-between;
}

.bar-line {
  width: 100%;
  height: 6px;
  background: #eee;
  border-radius: 4px;
  margin-bottom: 12px;
}

.bar {
  height: 6px;
  background: #1aa66b;
  border-radius: 4px;
}

.w10 { width: 10%; }
.w13 { width: 13%; }
.w6  { width: 6%; }



.bar-graph {
  display: flex;
  gap: 10px;
  padding: 0 0 20px 0;
  margin-top: 25px;
  margin-left: 25px;     
  height: 110px;         
  align-items: flex-end;
}


.bar-box {
  width: 18px;           
  background: #1aa66b;
  border-radius: 6px;
}


.h75 { height: 75px; }
.h60 { height: 60px; }
.h40 { height: 40px; }
.h70 { height: 70px; }

.bar-graph .bar-box:nth-child(1),
.bar-graph .bar-box:nth-child(3) {
  background-color: #003f2e;   
}

.bar-graph .bar-box:nth-child(2),
.bar-graph .bar-box:nth-child(4) {
  background-color: #06b36e;   
}


.floating-card {
  position: absolute;
  bottom: 1%;
  right: -0%;
  padding: 18px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 4px 25px rgba(0,0,0,0.12);
  width: 50%;
}

.floating-card .row {
  display: flex;
  gap: 8px;
  align-items: baseline;
}

.bold { font-size: 20px; font-weight: 700; color: #111; }
.small { font-size: 12px; }
.muted { color: gray; }

.right-box {
  flex: 1 1 450px;  
  min-width: 350px;
}

.right-box h2 {
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 15px;
}

.subtext {
  color: #444;
  font-size: 12px;
  margin-bottom: 25px;
}

.points-list {
  list-style: none;
  padding: 0;
}

.points-list li {
  display: flex;
  margin-bottom: 25px;
}

.dot {
  width: 12px;
  height: 12px;
  background: #050505;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 29px;
}

.points-list h4 {
  font-size: 17px;
  margin-bottom: 3px;
}

.points-list p {
  font-size: 14px;
  color: #555;
}



.pricing-section {
  width: 100%;
  padding: 220px 220px;
  background: #0b0b0b; 
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-top: 0px;
  padding-top: 10px;
  margin-bottom: 15px; 
}

.pricing-header {
  text-align: center;
  margin-bottom: 40px;
}

.pricing-header h1 {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  padding: 0px;
 
}

.pricing-header h1 {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  padding: 0px;
 
}

.pricing-header p {
  font-size: 12px;
  color: #9AA6B2; 
  margin-top: 20px;
}


.pricing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
  margin-bottom: 40px;
}


.pricing-card {
  background: rgb(26, 24, 24);
  padding: 30px;
  border-radius: 16px;
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.3s ease;
}


.pricing-card h3 {
  font-size: 22px;
  color: #ffffff;
}

.desc {
  color: #9AA6B2;
  font-size: 14px;
  margin: 8px 0 18px;
}

.price strong {
  font-size: 32px;
  color: #ffffff;
}

.price span {
  color: #9AA6B2;
  font-size: 14px;
}

.outline-btn {
  width: 100%;
  padding: 10px 0;
  border: 1.8px solid #ffffff;
  border-radius: 18px;
  color: #ffffff;
  background: transparent;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}


.features-title {
  margin-top: 22px;
  color: #ffffff;
}

.features li {
  padding: 6px 0;
  font-size: 14px;
  color: #9AA6B2;
}

.bottom-card {
  text-align: center;
  background: #0D1F26;
  padding: 22px;
  max-width: 820px;
  margin: 0 auto;
  border-radius: 18px;
  border: 1px solid rgba(255,255,255,0.1);
  margin-bottom: 0px;
  padding-bottom: 10px;   
}

.bottom-card h3 {
  font-size: 24px;
  color: #fff;
}

.bottom-card p {
  color: #9AA6B2;
  margin: 12px 0 20px;
}

.main-btn {
  background: #00C266;
  color: white;
  padding: 12px 28px;
  border-radius: 18px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  
}


.white-section {
  background: #ffffff;
  padding: 80px 0;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 90%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.left {
  flex: 1;
}

.left h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
  color: #000;
}

.left p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 450px;
}

.work-btn {
  background: #bef4b4;
  padding: 12px 28px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-box {
    width: 390px;
    height: 360px;
    background: #e5f8d9;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-rings {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.08);
}

.circle-rings::before,
.circle-rings::after {
    content: "";
    position: absolute;
    inset: -40px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.08);
}

.circle-rings::after {
    inset: -80px;
}

.circle-icon {
    width: 52px;
    height: 52px;
    background: white;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    font-size: 22px;
    position: absolute;
}

.i1 { top: 40px; left: 155px; }
.i2 { top: 95px; left: 260px; }
.i3 { top: 180px; left: 295px; }
.i4 { top: 265px; left: 250px; }
.i5 { top: 300px; left: 155px; }
.i6 { top: 265px; left: 55px; }
.i7 { top: 180px; left: 20px; }
.i8 { top: 95px; left: 55px; }
.i9 { top: 40px; left: 90px; }
.i10 { top: 170px; left: 155px;}

.cta-section {
    width: 100%;
    background: #074246;
    padding: 70px 20px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
}

.cta-section h2 {
    font-size: 32px;
    font-weight: 600;
}

.cta-section p {
    margin-top: 10px;
    opacity: 0.9;
}

.cta-btn {
    margin-top: 25px;
    background: #E6FFCC;
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.footer {
    background: #0E0E0E;
    color: #d9d9d9;
    padding: 60px 20px 20px;
    font-family: "Poppins", sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-col h4 {
    margin-bottom: 15px;
    color: white;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
    cursor: pointer;
    opacity: 0.8;
}

.logo-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
   
}

.logo-icon {
    width: 28px;
    height: 28px;
    background: #53ec58;
    border-radius: 50%;
}

.logo-col p {
    margin-top: 15px;
    opacity: 0.85;
    max-width: 240px;
}

.social-icons {
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.icon {
    width: 32px;
    height: 32px;
    background: #1d1d1d;
    border-radius: 6px;
}

.icon.linkedin { background: #1d1d1d; }
.icon.facebook { background: #1d1d1d; }
.icon.instagram { background: #1d1d1d; }

.footer-bottom {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #333;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-bottom p {
    opacity: 0.7;
}

.footer-links a {
    margin-left: 20px;
    color: #d9d9d9;
    text-decoration: none;
    opacity: 0.75;
}

